body{
    background-color: rgb(255,255,255);
    margin: 0;
}

@font-face {
    font-family: Exquite;
    src: url("resources/Fonts/Exquite-23618795/Exquite.otf") format("opentype"),
         url("resources/Fonts/Exquite-23618795/Exquite.ttf") format("truetype");
         
}

/*        Heaader and Navigation             */

@media only screen and (max-width: 480px){
    html{
        font-size: 10px;
    }
}

header{
    background-color: white;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 70px;
    justify-content: space-between;
    z-index: 1;
    border-bottom: 2px solid black;
}

.logoAndText{
    display: flex;
    font-family: "Exquite";
}

header img{
    max-width: 50px;
    max-height: 50px;
    margin: 10px;
}

.nav li{
    list-style: none;
    display: inline-flex;
    margin: 0 20px;
    font-size: 1.5rem;
    font-family: 'Courier';
    cursor: pointer;
}

.nav li a{
    color: black;
    text-decoration: none;
}

.contact{
    border: 2px solid black;
    padding: 0 5px;
    border-radius: 5px;
    background-color: #FF6B00;
}

/*        Main Content             */

.aboutUs{
    top: 70px;
    background-image: url("resources/images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.aboutText{
    text-align: right;
    color: white;
    margin: 20px;
}

.aboutText h2{
    font-size: 3rem;
    font-family: Courier;
}

.aboutText p{
    position: relative;
    font-size: 1.5rem;
    font-family: Courier;
    max-width: 700px;
}

/*        Projects            */

section.projects{
    max-width: 700px;
    margin: 100px auto;
    padding: 0 20px;
}
  
.cases{
    display: flex;
    flex-wrap: wrap;
}
  
.card{
    background-color: #FF6B00;
    width: 300px;
    height: 400px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    border: 1px solid black;
    margin: 10px;
    border-radius: 5px;
}
  
.card p{
    width: 100%;
    margin: 0;
}

.cardText{
    text-align: center;
    margin-bottom: 25px;
}

#card1{
    background-image: url("resources/images/Slimy\ Road.png");
    background-repeat: no-repeat;
}

#card2{
    background-image: url("resources/images/Among the Stars.png");
    background-repeat: no-repeat;
}

#card3{
    background-image: url("resources/images/Kaiserreich.png");
    background-repeat: no-repeat;
}

#card4{
    background-image: url("resources/images/SizeO.png");
    background-repeat: no-repeat;
}

/*        Team          */

section.team{
    max-width: 1300px;
    margin: 100px auto;
    padding: 0 20px;
}

.cardTextTeam{
    text-align: center;
    color: white;
    width: 100%;
    height: 80px;
    background-color: rgba(255, 107, 0, 0.7);
}

#team1{
    background-image: url("resources/images/Portraits/yigit.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#team2{
    background-image: url("resources/images/Portraits/ikra.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#team3{
    background-image: url("resources/images/Portraits/efe.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#team4{
    background-image: url("resources/images/Portraits/cem.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/*      Contact       */


